// Get the width and height of the first image
img = " " + s("../../demo/png/%s.png", unquote(list[0]))
w = image-size(img)[0]
h = image-size(img)[1]

.moticon
  border 1px dotted #ccc
  width 64px
  height 64px
  margin 0 auto
  animation animate 0.6s steps(15, end) 1
  animation-direction reverse

.moticon
  &:hover
    animation-direction normal
    animation-duration 0.5s

@keyframes animate
    to
      background-position 0px - w

for item in list
  .{item}
    background-image 'url("../png/%s.png")' % unquote(item)

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
  .moticon
    background-size w h

  for item in list
    .{item}
      background-image 'url("../png/%s@2x.png")' % unquote(item)